@import "variables";
body{
    margin: 0;
}

.error-boundary {
    color: white;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
h3{
    @include font($font, 700, 24px, 32px, $text-color);
    text-align: center;
    margin: 0 0 36px 0;
}
.log_in_form{
    display: flex;
    flex-direction: column;
    margin-top: 48px;

}
.log_in_fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px;
    background: white;
    border: 1px solid #BFC1C7;
    border-radius: 12px;
    margin-bottom: 40px;
}
.input_mail{
    width: 298px;
    border: 1px solid #BFC1C7;
    border-radius: 12px;
    padding: 8px 20px;
    margin-bottom: 24px;
    @include font($font, 400, 18px, 24px, #6C7180);
}
.input_pass{
    width: 298px;
    border: 1px solid #BFC1C7;
    border-radius: 12px;
    padding: 8px 20px;
    @include font($font, 400, 18px, 24px, #6C7180);
}
.btn_enter{
    display: block;
    @include font($font, 700, 18px, 24px, $white);
    padding: 16px;
    background: $main;
    border-radius: 12px;
    border: none;
    margin-bottom: 24px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}
.btn_new_client{
    display: block;
    @include font($font, 700, 18px, 24px, $white);
    padding: 12px 40px;
    background: $main;
    border-radius: 12px;
    border: none;
    margin-left: 40px;
    box-sizing: border-box;
    text-decoration: none;
}
.btn_surch{
    display: block;
    @include font($font, 700, 18px, 24px, $white);
    padding: 12px 0;
    background: $main;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    max-width: 30%;
    text-align: center;
}
.registration_link{
    @include font($font, 500, 18px, 24px, $main-dark);
    text-decoration: none;
    text-align: center;
}
.name_field{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name_field_text{
    @include font($font, 500, 18px, 24px, $text-color);
    max-width: 150px;
}
.centr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background:  #CDD1D4;
    width: 100%;
    max-height: 100px;
    display: flex;
}
.login_wrap{
    justify-self: center;
    height: 100%;
    display: flex;
}
.footer_link{
    @include font($font, 400, 12px, 18px, $text-color);
    text-decoration: none;
}
.footer_link_p{
    @include font($font, 400, 12px, 18px, $text-color);
    text-decoration: none;
    margin-bottom: 4px;
}
.footer_link_block{
    display: flex;
    flex-direction: column;
}
.wrap{
    padding: 16px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer_text{
    @include font($font, 400, 12px, 18px, $text-color);
}
.header_wrap{
    background: $main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
}
.logo_img{
    width: 186px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.header_img{
    width: 108px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.menu{
    display: flex;
}
.menu_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
}
.menu_item.active{
    background: $main-dark;
}
.menu_img{
    width: 40px;
    height: 40px;
    max-width: 48px;
    max-height: 48px;
}
.menu_title{
    margin: 0;
    @include font($font, 700, 14px, 20px, $white);
}
.link_menu{
    text-decoration: none;

}

.header_person{
    display: flex;
    justify-content: center;
    align-items: center;
}
.person_info{
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    align-items: flex-end;
}
.person_name{
    @include font($font, normal, 18px, 24px, $white);
    margin: 0;
}
.person_inn{
    @include font($roboto, 300, 16px, 24px, rgba(255, 255, 255, 0.8));
    margin: 0;
}
.menu_link{
    min-width: 108px;
}
.exit_img{
    width: 32px;
    height: auto;
}
.clients_wrap{
    background: $gray-light;
    min-height: calc(100vh - 88px);
    display: flex;
    padding: 48px 64px;
    flex-direction: column;
}
.clients_main{
    max-width: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.clients_side{
    max-width: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
h2{
    margin: 0;
    @include font($font, 700, 20px, 32px, $text-color);
}
.new_client{
    display: flex;
    align-items: center;
}
.surch{
    margin-top: 48px;
    margin-bottom: 40px;
    display: flex;
}

.surch_input{
    max-width: 70%;
    width: 100%;
    padding: 8px 20px;
    @include font($font, 400, 16px, 24px, #6C7180);
    border: 1px solid #BFC1C7;
    border-radius: 12px;
    box-sizing: border-box;
    outline: none;
    margin-right: 40px;

}
.clients_nbr{
    @include font($roboto, 500, 14px, 24px, $text-color);
    margin-bottom: 16px;
}
.clients_nbr_text{
    @include font($font, 400, 14px, 24px, $text-color);
}
.sorting_wrap{
    background: white;
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.drop_item{
    display: flex;
    align-items: center;
}
.drop_img{
    width: 10px;
    height: auto;
    margin-right: 8px;
}
.drop_text{
    @include font($font, 700, 13px, 24px, $text-color);
    margin: 0;
}
.clients_table{
    background: white;

}

.client_inform_text{
    @include font($font, 400, 14px, 24px, $text-color);
    margin: 0;
}
.client_inform_nbr{
    @include font($roboto, 300, 14px, 24px, $text-color);
    margin: 0;
}
.client_inform_nbr_bold{
    @include font($roboto, 500, 14px, 24px, #21963B);
    margin: 0;
}


.table_test {
    width: 100%;
    table-layout: fixed;
;
}
.table_test td {
    width: 100%;
    display: flex;
    justify-content: center;
}

.check{
    margin-right: 24px;
}
.client_table_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}
.first{
    border: 1px solid rgba(0, 0, 0, 0.25) ;
    border-top-left-radius: 12px;
    border-top-right-radius:12px ;
}
.last{
    border-bottom:1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius:12px ;
}
.wrap_wrap{
    display: flex;
}
.clients_side_card{
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 40px 40px 16px 40px;
}
.clients_side_card_title{
    @include font($font, 700, 24px, 32px, $text-color);
    margin: 0 0 24px 0;
    text-align: center;
}
.clients_side_card_subtitle{
    @include font($font, 700, 18px, 24px, $text-color);
    margin: 0 0 16px 0;
}
.bin_img{
    width: 12px;
    height: 12px;
    margin-right: 12px;
}
.telega_img{
    width: 17px;
    height: 14px;
    margin-right: 12px;
}
.clients_side_card_btn_blue{
    display: block;
    @include font($font, 500, 16px, 24px, $text-color);
    padding: 8px 0 8px 18px;
    background: #6AB6E1;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    margin-bottom: 16px;
}
.clients_side_card_btn_gray{
    display: block;
    @include font($font, 500, 16px, 24px, $text-color);
    padding: 8px 0 8px 18px;
    background: #BFC1C7;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    margin-bottom: 24px;
}
.massage_input{
    max-width: 100%;
    min-width: 100%;
    min-height: 108px;
    padding: 8px 20px;
    @include font($font, 400, 14px, 24px, #6C7180);
    border: 1px solid #BFC1C7;
    border-radius: 12px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 16px;
}
.edit_img{
    width: 12px;
}
.news_block{
    display: flex;
    flex-wrap: wrap;
}
.news_item{
    width: calc(30% - 27px);
    height: 214px;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    background-size: cover;
    padding: 40px;
    margin-right: 40px;
}
.news_title{
    @include font($font, 700, 18px, 24px, $text-color);
    padding-bottom: 16px;
}
.news_subtitle{
    @include font($font, 400, 18px, 24px, $text-color);
    padding-bottom: 20px;
}