@import "../../media/variables";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  width: 100%;
  max-width: 550px;
  background: white;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
  border-radius: 12px;
}

.modal-header,
.modal-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.modal-header {
  justify-content: space-between;
  padding: 40px 40px 16px 40px;
}
.modal-footer {
  border-top: 1px solid #dbdbdb;
  justify-content: flex-end;
}
.modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-body {
  overflow: auto;
}
.modal-content {
  padding: 0 80px 48px 80px;
}

.modal-title {
  margin: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}
.cross_img{
  width: 20px;
}
.edit_img_modal{
  width: 20px;
  margin-right: 16px;
}
.modal_title{
  @include font($font, 700, 24px, 32px, $text-color);
  text-align: center;
  margin: 0 0 28px 0;
}
.modal_subtitle{
  @include font($font, 700, 18px, 24px, $text-color);
  margin: 0 0 4px 0;
}
.modal_input{
  width: 100%;
  padding: 8px 20px;
  @include font($font, 400, 16px, 24px, black);
  border: 1px solid #BFC1C7;
  border-radius: 12px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 16px;
}
.modal_input_tel{
    width: 100%;
  padding: 8px 20px;
  @include font($roboto, 400, 16px, 24px, black);
  border: 1px solid #BFC1C7;
  border-radius: 12px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 16px;
}
.modal_subtitle_center{
  @include font($font, 700, 18px, 24px, $text-color);
  margin: 0 0 16px 0;
  text-align: center;
}
.modal_massage_input{
     max-width: 100%;
    min-width: 100%;
    min-height: 108px;
    padding: 8px 20px;
    @include font($font, 400, 14px, 24px, #6C7180);
    border: 1px solid #BFC1C7;
    border-radius: 12px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 16px;
}
.btn_save{
    display: block;
    @include font($font, 700, 18px, 24px, $white);
    padding: 12px 0;
    background: $main;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    text-align: center;
}